<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EcommerceSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
    <servlet>
    <servlet-name>SearchForm</servlet-name>
    <servlet-class>products.SearchForm</servlet-class>
    <init-param>
      <param-name>products</param-name>
      <param-value>iphone6, Samsung Galaxy 4, Nokia Lumia 1020</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchForm</servlet-name>
    <url-pattern>/SearchForm</url-pattern>
  </servlet-mapping>

    <servlet>
    <servlet-name>SearchResult</servlet-name>
    <servlet-class>products.SearchResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchResult</servlet-name>
    <url-pattern>/SearchResult</url-pattern>
  </servlet-mapping>  
</web-app>