<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>shipping-backend</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Shipping</servlet-name>
    <servlet-class>Shipping</servlet-class>
    <init-param>
      <param-name>Cities</param-name>
      <param-value>sydney,melbourne,adeliade,perth,brisbane</param-value>
    </init-param>
    <init-param>
      <param-name>BasePrices</param-name>
      <param-value>3.40,5.43,1.0,6.66,10.40</param-value>
    </init-param>
    <init-param>
      <param-name>Prices</param-name>
      <param-value>1.1,2.2,3.3,4.4,5.5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Shipping</servlet-name>
    <url-pattern>/Shipping</url-pattern>
  </servlet-mapping>
  
  	<listener>
		<listener-class>AppServletContextListener</listener-class>
	</listener>
</web-app>
